/* ------------ CSS PROPERTIES ------------*/

:root {
    --bg-lgrey: #EAEAEA;
    --bg-lazure: #8EDAFC;
    --bg-lagoon: #009688;
    --profile-height: 80px;
    --space-med: 1rem;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* GENERAL */

body {
    background: linear-gradient(#009688 20%, #D8DBD6 20%), #D8DBD6;
    
    height: 100vh;
    width: 100vw;
}

.wrapper {
    background-color: white;

    margin-top: 5vh;

    height: 90vh;
    width: 100%;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

figure {
    height: 60px;
    width: 60px;
    margin: 0 var(--space-med);
}

.user-name {
    font-size: 1.2rem;
    font-weight: 500;
}

i {
    font-size: 1.4rem;
    color: #B1B1B1;
    padding: 0 10px;
    cursor: pointer;
}

i:hover {
    scale: 1.1;
    color: var(--bg-lagoon);
}

.last-online {
    font-size: 0.8rem;
}

/* ! NAV-BAR section */

nav {
    background-color: white;
}

#profile {
    background-color: var(--bg-lgrey);

    height: var(--profile-height);
}

#profile .user-name {
    display: flex;
    align-self: center;
}

#filter {
    background-color: var(--bg-lgrey);

}

#notifications {
    background-color: var(--bg-lazure);
    
    height: 100px;
}

.contact {
    border: 1px solid black;
}

.contact figure {
    height: 70px;
    width: 70px;
    margin: 0;
}





/* ! MAIN SECTION  */
main {
    border-left: 1px solid rgba(169, 169, 169, 0.37);
    background-image: url(../img/mine.jpg);

    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

#current-chat-info {
    background-color: var(--bg-lgrey);
    flex-basis: var(--profile-height);
}

#input-area {
    background-color: var(--bg-lgrey);
    flex-basis: var(--profile-height);
}

#input-area input {
    width: 80%;
    height: 65%;
    
    border-style: none;
}
#input-area i {
    width: 10%;
    text-align: center;
}


#chat-messages {
    flex-basis: calc(100% - (2 * var(--profile-height)));

}