/* ------------ CSS PROPERTIES ------------*/

:root {
    --bg-darkerGrey: #B1B1B1;
    --bg-lgrey: #EAEAEA;
    --bg-lazure: #8EDAFC;
    --bg-lagoon: #009688;
    --profile-height: 80px;
    --space-med: 1rem;
    
    --text-bigger: 1.2rem;
    --text-smaller: 0.8rem;
    --text-gray: rgba(66, 66, 66, 0.555);

}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.wrapper {
    background-color: white;

    margin-top: 5vh;

    height: 90%;
    width: 100%;
}

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.last-online {
    font-size: var(--text-smaller);
    color: var(--text-gray);
    font-weight: 600;
}

/*! GENERAL */

body {
    background: linear-gradient(#009688 20%, #D8DBD6 20%), #D8DBD6;
    
    height: 100vh;
    width: 100vw;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

figure {
    height: 60px;
    width: 60px;
    margin: 0 var(--space-med);
}

.user-name {
    font-size: 1.1rem;
    font-weight: 600;
}

i {
    font-size: 1.4rem;
    color: var(--bg-darkerGrey);
    padding: 0 10px;
    cursor: pointer;
}

i:hover {
    scale: 1.1;
    color: var(--bg-lagoon);
}


/* ! NAV-BAR section */

nav {
    background-color: white;
}

/* SEZIONE MIO PROFILO */

#profile {
    height: var(--profile-height);
    background-color: var(--bg-lgrey);
}

#profile .user-name {
    display: flex;
    align-self: center;
}

/* SEZIONE ATTIVA ALERT NOTIFICATIONS */

#notifications {
    background-color: var(--bg-lazure);
    
    height: var(--profile-height);
}

.bell {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #F2FBFF;
}

.fa-bell-slash {
    color: var(--bg-lazure);
}

#notifications h5 { 
    font-size: 1rem;
    margin-bottom: 2px;
}

#notifications a {
    font-size: var(--text-smaller);
    font-weight: 600;
    color: var(--text-gray);
}

/* SEZIONE FILTRA CHAT */

#filter {
    height: 50px;
    background-color: #F9F9F9;
}

#filter span,
#filter input {
    background-color: white;
    border: 0;
}

#filter .fa-magnifying-glass{
    font-size: 1rem;
}

/* SEZIONE ULTIME CHAT */

#contacts {
   max-height: calc(90vh - (2 * var(--profile-height)) - 50px);

   overflow: auto;
}


.contact {
   border-bottom: 1px solid var(--bg-lgrey);
}

.contact:hover {
   background-color: #E9EBEB;
}

.contact figure {
    height: 70px;
    width: 70px;
    margin: 0;
}


/* ! MAIN SECTION  */

main {
    border-left: 1px solid rgba(169, 169, 169, 0.37);
    background-image: url(../img/mine.jpg);

    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

/* SEZIONE CHAT ATTIVA */

#current-chat-info {
    background-color: var(--bg-lgrey);
    flex-basis: var(--profile-height);
}


/* SEZIONE LIVE MESSAGES */

#chat-messages {
    flex-basis: calc(90vh - (2 * var(--profile-height)));
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    
    padding: 2.5rem 4rem;

    overflow: auto;
}

.message {
    position: relative;

    padding: 1rem;
    padding-bottom: 1.2rem;
    margin: 1rem 0;

    min-width: 120px;
    max-width: 70%;
}

.sent {
    align-self: end;
    
    background-color: #D5F9BA;
    border-radius: 15px 0px 15px 15px;
}

.received {
    align-self: start;

    background-color: white;
    border-radius: 15px 15px 15px 0px;
}

.message .timestamp {
    position: absolute;
    right: 5px;
    bottom: 5px;

    color: var(--text-gray);
    font-size: 0.7rem;
    text-align: end;
}

.dropdown-toggle::after {
    content: none;
}
.dropdown-toggle.show::after {
    content: "";
}
.dropdown-toggle.show.sent {
    background-color: #D5F9BA;
    border: none;
}
.dropdown-toggle.show.received {
    background-color: white;
    border: none;
}
.dropdown-toggle.sent:hover {
    background-color: #D5F9BA;
}
.dropdown-toggle.received:hover {
    background-color:white;
}


/* SEZIONE INPUT MESSAGGI */

#input-area {
    background-color: var(--bg-lgrey);
    flex-basis: var(--profile-height);
}

#input-area input {
    width: 80%;
    height: 65%;
    
    border-style: none;
}
#input-area i {
    width: 10%;
    text-align: center;
}